<nav class="navbar navbar-default">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" href="#">Library</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Games <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Movies</a></li>
        <li><a href="#">TV Series</a></li>
        <li><a href="#">Anime</a></li>
        <li><a href="#">Books</a></li>

      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a (click)="saveItems()">Save</a></li>
      </ul>
    </div>
  </div>
</nav>


<div class="row">
  <div class="text-center">
    <div class="form-group search-input">
      <input type="text" class="form-control" placeholder="Search">
    </div>
  </div>
</div>

<br>

<div class="row">
  <div class="text-center">
    <div class="col-sm-12">

      <div *ngFor="let item of items">
        <app-cover [item]="item"></app-cover>
      </div>

    </div>
  </div>
</div>